body {
    background-color: lightgray;
}

.content {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 100%) {
    body {
        background-color: white;
    }

    .content {
        width: 100%;
        padding: 10px;
    }

}
